{% extends 'menu.html' %}

{% block content %}
<div class="collumn2">


<h4> Powiadomienia:</h4>
    <div class="list">
{% for obiekt in powiadomienia %}
            <div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{ obiekt.zdjecie.url }}" alt="Card image cap">
<p> {{ obiekt.treść }} </p>
<p> {{ obiekt.data }} </p>
                </div>
{% endfor %}
</div>
{% if not powiadomienia %}
    <div class="card" style="padding: 40px;">
<h2>Nie masz żadnych nowych powiadomień.</h2>
        </div>
{% endif %}




 <a href="/twoje_powiadomienia/{{user.id}}">
    <button class="btn btn-outline-warning" style="margin: 10px;">Wszystkie powiadomienia <span class="badge badge-light">{{powiadomienia_stare.count}}</span></button>
 </a>



</div>

{% endblock content %}