{% extends 'menu.html' %}

{% block content %}
<div class="collumn2">

<h4> Nowe promocje:</h4>
    <div class="list">
{% for obiekt in promo %}
        <div class="card" style="width: 18rem;">
        <a class="konto" href = "/produkt/{{obiekt.oferta.produkt.id}}">
        <img class="card-img-top" src="{{ obiekt.oferta.produkt.zdjecie.url }}" alt="Card image cap">
<h2 style="color:#c604d4">{{ obiekt.oferta.produkt }} </h2>
<p> {{ obiekt.oferta.sklep }} </p>
<p> stara cena:{{ obiekt.oferta.cena }} </p>
<h3 style="color:red" > nowa cena:{{ obiekt.oferta.promocyjna_cena }} </h3>
<p> {{ obiekt.treść }} </p>
<p> {{ obiekt.data }} </p>
         </a>
            </div>
{% endfor %}
</div>
{% if not promo %}
    <div class="card" style="padding: 40px;">
<h2>Nie masz żadnych nowych promocji :((</h2>
        </div>
{% endif %}


 <a href="/twoje_promocje/{{user.id}}">
    <button class="btn btn-outline-warning" style="margin: 10px;">Aktualne promocje <span class="badge badge-light">{{powiadomienia_stare.count}}</span></button>
 </a>

</div>



{% endblock content %}